
.sidebar--header-container img{
    transition: all .3s ease;
}

.sidebar--header-container img:hover{
   transform: rotate(-45deg);
}

.map .leaflet-marker-icon{
    background: #ff1f4b;
    border: none;
    border-radius: 50%;
}

.map .annotation-shape,
.map .annotation-shape__editing{
    stroke: darkgrey;
    fill: white;
}

.map .leaflet-control-zoom{
    box-shadow: none;
    border: none;
    margin-right: 1.5rem;
    margin-top: 1rem;
}

.map .leaflet-control{
    margin-right: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.map .leaflet-control .buttons-container{
    bottom: 0;
}

.map .leaflet-control-attribution {
    display: none
}

.map .leaflet-control-zoom-in,
.map .leaflet-control-zoom-out{
    border: none;
    box-shadow: none;
    font-size: 1.3rem;
}

.map .leaflet-tooltip{
    display: none;
}