.App {
  position: relative;
  user-select: none;
}

.leaflet-container {
  height: 100vmin;
  width: 100vmin;
  margin: 0 auto;
}

.App-link {
  color: #61dafb;
}
.zoom-level {
  position: absolute;
}
.react-dat-gui {
  z-index: 9999;
}
