textarea.textarea {
  transition: none;
}
.sidebar {
  position: absolute;
  width: 25%;
  max-width: 450px;
  z-index: 420;
  max-height: 100vh;
  overflow: hidden;
  background: white;
  display: flex;
  flex-flow: column nowrap;
  justify-content: stretch;
  height: 30%;
  min-height: 200px;
  transition: all .5s ease;
}
.sidebar.visible {
  bottom: 0;
  left: 0;
  height: 100%;
}
.sidebar.hidden {
  bottom: 25px;
  left: 25px;
}
.textarea:not([rows]) {
  max-height: initial;
  min-height: initial;
}
.sidebar .sidebar--item-field--selected:not(.sidebar--item-field--minified) {
  background: #3849a2;
  color: white;
}

.sidebar .sidebar--item-field--selected:not(.sidebar--item-field--minified)::placeholder{
  color: white;
}

.sidebar--minified-placeholder{
  height: 100%;
  width: 100%;
}

.sidebar--wrapper{
  padding: 1rem;
  flex: 1;
  overflow-y: auto;
}
.sidebar--container {
  background: white;
  /* max-height: calc(100vh - 45px - 70px); */
  /* overflow: auto; */
}
.sidebar--menu-item .box {
  background: white;
}
.sidebar--menu-item__selected .box {
  background: #3849a2;
}
textarea.textarea {
  resize: none;
}

.sidebar--spacing {
  padding: 5px 5px;
}

.sidebar--header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sidebar--header-container .title{
  margin: .5rem 1rem;
}

.sidebar--header-container .title a{
  color: white;
}

.sidebar--header-container .minify-toggle{
  cursor: pointer;
  margin-right: 1rem;
}

.sidebar--footer-container {
  display: flex;
  justify-content: space-between;
  color: white;
  padding: 0
}

.input__invisible {
  width: calc(100% - 1rem);
  border: none;
  margin: 1rem .5rem;
}