#app {
  position: relative;
  user-select: none;
}

body { --rgba-primary-0: #343477; } /* rgba( 52, 52,119,1); */
body { --rgba-primary-1: #8080E5; } /* rgba(128,128,229,1); */
body { --rgba-primary-2: #5454A8; } /* rgba( 84, 84,168,1); */
body { --rgba-primary-3: #1A1A46; } /* rgba( 26, 26, 70,1); */
body { --rgba-primary-4: #060614; } /* rgba(  6,  6, 20,1); */

body {
  max-height: 100vh;
  overflow: hidden;
}

.leaflet-container {
  height: 100%;
  width: 100%;
  min-width: 100px;
  margin: 0 auto;
}

.App-link {
  color: #61dafb;
}
.zoom-level {
  position: absolute;
}
.react-dat-gui {
  z-index: 9999;
}

.map {
  height: 100vh;
  width: 100vw;
}
.map.creating {
  cursor: crosshair;
}

.rectangle {
  pointer-events: none;
}


.button{
  text-transform: none;
}

.box,.button{
  border-radius: 0;
}

.ReactModal__Overlay{
  z-index: 1000;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}

.ReactModal__Content{
  position: relative!important;
  max-width: 80vw;
  max-height: 80vh;
  overflow: hidden!important;
  inset: unset!important;
  padding: 0!important;
}

.ReactModal__Content .modal-content-container {
  overflow: hidden;
  display: flex;
  flex-flow: column nowrap;
  justify-content: stretch;
  max-height: 80vh;
  position: relative;
}

.ReactModal__Content .modal-content-header,
.ReactModal__Content .modal-content-header .title {
  background: var(--rgba-primary-2);
  color: white;
  padding: .5rem;
}

.ReactModal__Content .modal-content-header .title{
  display: flex;
  flex-flow: row nowrap;
  justify-content: stretch;
}

.ReactModal__Content .modal-content-header .title span:first-of-type{
  flex: 1;
}

.ReactModal__Content .modal-content-body{
  padding: .5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  flex: 1;
  overflow: auto;
  max-height: calc(100% - 4rem);
}

.ReactModal__Content .modal-content-body code{
  user-select: all;
  -moz-user-select: all;
  -ms-user-select: element;
  -webkit-user-select: all;
}