

.player-map .sidebar--header-container{
    padding-right: 1rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: stretch;
}

.player-map .player-sidebar{
    min-height: 300px;
}

.player-map .play-sidebar--container{
    height: 100%;
    padding: 1rem;
}
.sidebar--header-container .title.is-stretch{
    flex: 1;
}

.player-map .sidebar--menu-item.sidebar--spacing .content{
    padding: 1rem;
}

.share-ui-container{
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    z-index: 1000;
}

.sidebar.player-sidebar .sidebar--item-field--selected.sidebar--item-field--minified {
    background: white;
    color: #363636;
    padding: 0;
}

.sidebar.player-sidebar .minified-nav-container{
    justify-content: center;
    border-top: 1px solid rgba(0,0,0,0.05);
    margin-top: 1rem;
    padding-top: .5rem;
}

.player-map .player-card{
    cursor: pointer;
}

.player-map .player-title{
    margin: 0;
}