.modal {
  z-index: 420;
}

.progress-bar {
  border-radius: 2px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15) inset;
  height: 0.75rem;
  width: 100%;
  display: block;
  overflow: hidden;
}

.progress-value {
  transition: transform 1s linear;
  background-color: #00a99d ;
  height: 100%;
}
